In [218]:
import pandas as pd
train=pd.read_csv('./train.csv')
test=pd.read_csv('./test.csv')

In [219]:
data=train.loc[:,['Pclass','Sex','Age','SibSp','Parch']]
target=train.loc[:,'Survived']

In [220]:
data.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  22.0      1      0
1       1  female  38.0      1      0
2       3  female  26.0      0      0
3       1  female  35.0      1      0
4       3    male  35.0      0      0

In [221]:
data['Sex'].unique()

array(['male', 'female'], dtype=object)

In [222]:
data.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  22.0      1      0
1       1  female  38.0      1      0
2       3  female  26.0      0      0
3       1  female  35.0      1      0
4       3    male  35.0      0      0

In [223]:
sexd=data.loc[:,'Sex']
sexd=pd.get_dummies(sexd)

In [224]:
sexd.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [225]:
data=data.join(sexd)

In [226]:
data.drop(columns='Sex',axis=1,inplace=True)

In [227]:
data.head()

   Pclass   Age  SibSp  Parch  female  male
0       3  22.0      1      0       0     1
1       1  38.0      1      0       1     0
2       3  26.0      0      0       1     0
3       1  35.0      1      0       1     0
4       3  35.0      0      0       0     1

In [238]:
testdata=test.loc[:,['Pclass','Sex','Age','SibSp','Parch']]
testdata.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  34.5      0      0
1       3  female  47.0      1      0
2       2    male  62.0      0      0
3       3    male  27.0      0      0
4       3  female  22.0      1      1

In [239]:
sexdt=testdata.loc[:,'Sex']
sexdt=pd.get_dummies(sexdt)

In [240]:
sexdt.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

In [243]:
#testdata.drop(columns='Sex',inplace=True)
testdata=testdata.join(sexdt)
testdata.head()

   Pclass   Age  SibSp  Parch  female  male
0       3  34.5      0      0       0     1
1       3  47.0      1      0       1     0
2       2  62.0      0      0       0     1
3       3  27.0      0      0       0     1
4       3  22.0      1      1       1     0

In [244]:
from sklearn.preprocessing import Imputer

trainData = Imputer().fit_transform(data)
testData=Imputer().fit_transform(testdata)

c:\users\az11438\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
c:\users\az11438\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [245]:
from sklearn.svm import SVC
titanic=SVC()

In [246]:
titanic

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [249]:
titanic.fit(trainData,target)

c:\users\az11438\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [250]:
pred=titanic.predict(trainData)

In [251]:
from sklearn.metrics import classification_report as clf
print(clf(target,pred))

              precision    recall  f1-score   support

           0       0.86      0.91      0.89       549
           1       0.84      0.77      0.80       342

   micro avg       0.86      0.86      0.86       891
   macro avg       0.85      0.84      0.84       891
weighted avg       0.85      0.86      0.85       891

In [254]:
predict=titanic.predict(testData)

In [255]:
print(predict)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 1 0
 1 0 0 1 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 1 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 1 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [256]:
id=test.loc[:,'PassengerId']

In [257]:
id.shape

(418,)

In [258]:
result=pd.DataFrame(id)
result.shape

(418, 1)

In [259]:
predict.shape

(418,)

In [260]:
result['Survived']=predict

In [261]:
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [262]:
result.to_csv('./result.csv',index=None,sep=',')